{% extends 'base.html' %}
{% block body %}
    <form enctype="multipart/form-data" method="post">
        <div class="container col-6">
            <br>
            <div class="row g-3">
                <div class="col-sm-12">
                    <img width="150" src="/static/uploads/{{ coll.image }}" class="ui mini rounded image">
                </div>
                <div class="col-sm-6">
                    <label class="form-label">Год</label>
                    <input name="Year" type="text" class="form-control" placeholder="Год" value="{{ coll.Year }}">
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="country" class="form-label">Фото</label>
                    <input name="img" type="file" class="form-control" >
                </div>

                <div class="col-sm-6">
                    <label class="form-label">Название</label>
                    <input name="Name" type="text" class="form-control" placeholder="Название" value="{{ coll.Name}}">
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <button name="action" value="update" class="w-100 btn btn-primary btn-lg" type="submit">Изменить</button>
           <br><br>
            <button name="action" value="return" class="w-100 btn btn-danger btn-lg" type="submit">Вернуться</button>
        </div>
    </form>
{% endblock %}
